* {
  font-family: 'Times New Roman', serif;
  font-weight: normal;
}

h1 { font-size: 48px; }

input {
  outline: none;
  font-size: 20px;
  padding: 4px;
  display: none;
}

#contain-gifs {
  text-align: center;
  padding: 12px;
  border: solid 1px gray; 
  overflow: auto;
}
