* { font-family: monospace; }

h1 { font-size: 48px; }

h3 { font-weight: normal; }

input {
  outline: none;
  font-size: 20px;
  padding: 4px;
  display: none;
}

#contain-gifs {
  text-align: center;
  padding: 12px;
  border: solid 1px gray; 
  overflow: auto;
}
